<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/login_styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="login_page">
    <p class="logo">M&M</p>
    <p class="small">Mini-Management Manager</p>
    <form id="form_login" class="login-form">
        <p><input type="text" id="username" placeholder="Login"/></p>
        <p><input type="password" id="password" placeholder="Hasło"/></p>
        <p class="error"> Błędny login i/lub hasło! </p>
        <p><input id="login" type="submit" name="login-button" value="Zaloguj"></p>
    </form>
</div>
</body>
</html>
