<div id="cont">
    <div id="menu-fixed">
        <a href="#cont">
            <i class="material-icons back">&#xE314;</i>
        </a>
        <a href="#menu-fixed">
            <div class="logo">
                <span></span>
                <p>M&M</p>
            </div>
            <p class="pmenu"></p>
        </a>
        <hr>
        <ul class="menu">
            <li>
                <a href="/contractors/show" title="Dodaj kontrahenta">
                    <i class="material-icons">&#xE7F0;</i>
                    <p>Dodaj kontrahenta</p>
                </a>
            </li>
            <li>
                <a href="/invoices/show" title="Faktury zakupu">
                    <i class="material-icons">&#xE8CC;</i>
                    <p>Faktury zakupu</p>
                </a>
            </li>
            <li>
                <a href="/invoices/show" title="Faktury sprzedaży">
                    <i class="material-icons">&#xE227;</i>
                    <p>Faktury sprzedaży</p>
                </a>
            </li>
            <li>
                <a href="/documents/show" title="Dokumenty">
                    <i class="material-icons">&#xE226;</i>
                    <p>Dokumenty</p>
                </a>
            </li>
            <li>
                <a href="/equipment/show" title="Sprzęt">
                    <i class="material-icons">&#xE337;</i>
                    <p>Sprzęt</p>
                </a>
            </li>
            <li>
                <a href="/license/show" title="Licencje">
                    <i class="material-icons">&#xE61A;</i>
                    <p>Licencje</p>
                </a>
            </li>
        </ul>
        <!--<i class="material-icons info">&#xE88E;</i>-->
    </div>
</div>
