<div id="cont">
    <div id="menu-fixed">
        <a href="#cont">
            <i class="material-icons back">&#xE314;</i>
        </a>
        <a href="#menu-fixed">
            <div class="logo">
                <span></span>
                <p>M&M</p>
            </div>
            <p class="pmenu"></p>
        </a>
        <hr>
        <ul class="menu">
            <a href="/addContractor/show" title="Dodaj kontrahenta">
                <li>
                    <i class="material-icons">&#xE7F0;</i>
                    <p>Dodaj kontrahenta</p>
                </li>
            </a>
            <a href="/invoices/show" title="Faktury zakupu">
                <li>
                    <i class="material-icons">&#xE8CC;</i>
                    <p>Faktury zakupu</p>
                </li>
            </a>
            <a href="/documents/show" title="Dokumenty">
                <li>
                    <i class="material-icons">&#xE227;</i>
                    <p>Dokumenty</p>
                </li>
            </a>
            <a href="/licenses/show" title="Licencje">
                <li><i class="material-icons">&#xE226;</i>
                    <p>Licencje</p>
                </li>
            </a>
            <li><i class="material-icons">&#xE337;</i>
                <p>Sprzęt</p></li>
            <li><i class="material-icons">&#xE61A;</i>
                <p>Licencje</p></li>
        </ul>
        <i class="material-icons info">&#xE88E;</i>
    </div>
</div>
