<div id="top-nav">
    <ul id="nav">
        <li><a href="/logout"><i class="material-icons navbar logout">&#xE5DD;</i></a></li>
        <li><a href="#"><i class="material-icons navbar">&#xE8B5;</i></a></li>
        <li><a href="#"><i class="material-icons navbar">&#xE7FD;</i></a></li>
        <li>
            <form class="search-bar" action="/search" method="post">
                <input type="search" placeholder="Szukaj w systemie..." name="phraseToFind">
            </form>
        </li>
    </ul>
</div>
